.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: teal;
  border: 1px solid teal;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: rgb(2, 39, 39);
  border-color: teal;
}
